{% extends "_base.html" %}

{% block css %}
<style>
    img {
  max-height: 400px;
}
</style>
{% endblock css %}


{% block content %}
<div class="container">
    <div class="jumbotron">
        <h1>Unit {{ id }}</h1>
        <h2>{{ topic.topic_level }}.{{ topic.Number }} {{ topic.topic }}</h2>
        {% for p in problems %}
            <p>
                <b>{{ p.problem_number }})</b> {{ p.problem_words }}
                {% if p.problem_graphics_1 %}
                    <p><img src="/images/{{ p.problem_graphics_1 }}" /></p>
                {% endif %}
                {% if p.problem_graphics_2 %}
                    <p><img src="/images/{{ p.problem_graphics_2 }}" /></p>
                {% endif %}
            </p>
        {% endfor %}
    </div>
</div>

{% endblock content %}
